body {
        font-family: PT Sans;
        background-color: rgb(37, 255, 200);
    }    
    .container {
        margin: auto;
        display:flex;
        width: 900px;
        height: 810px;
        overflow: hidden;
    }
    .left, .right {
        display: table-cell;
    }
    .left {
        width: 300px;
        background: #e9e8e8;
       
    }
    .right {
        width: 600px;
        background: rgb(255, 255, 255);
       
    }

    .hr {
        margin-left: 40px;
        margin-right: 40px;
        height: 2px;
        color: rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        border: none;  
    }
    img {
        width: 220px; 
        border-radius: 50%;
        margin-top: 40px;
        margin-bottom: 30px; 
       
    }
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 50px; 
        color: rgb(37, 255, 200);
        margin-bottom: 0px;
    }
    p{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 12px;  
    }
    h2 {
        margin-left: 40px;
        text-transform:uppercase;
        font-size: 12px;
    }
    .profile{
        margin-bottom: 20px;
        margin-top: 94px;
       
    }
    .info{
        margin-bottom: 20px;
    }
    .header {
        margin-top: 45px;
    }
    h3 {
        margin-left: 40px;
        margin-top: 15px;
        color: gray;
    }
    .navmenu {
        overflow: hidden;
        margin-top: 40px;
        margin-left: 40px;
    }
    .navmenu a{
        float: left;
        color:rgb(170, 170, 170);
        text-align:left;
        text-decoration: none;
        padding-right: 20px;
        font-size: 14px;
    }
    .navmenu a:hover{
        color: rgb(37, 255, 200);
    }
    .list {
        margin-left: 16px;
    }
    .list li{
        list-style-type: square;
        color: rgb(37, 255, 200);
    }
    .list a{
        margin-left: 20px;
        color: gray;
        font-size: 14px;
        text-decoration: none;
    }
    .list a:hover{
        color: rgb(37, 255, 200);
    }
    .list-two {
        margin-left: 16px;
    }
    .list-two li{
        list-style-type: square;
        color: rgb(37, 255, 200);
    }
    .list-two span{
        font-size: 12px;
        color: rgb(0, 0, 0);
        margin-left: 20px;
    }
